<% if current_user.doctor? %>
  <p>Welcome, Doctor! You are not creating a consultation.</p>



<% else %>
  <p>Welcome, Patient! Please enter your symptoms to begin a consultation.</p>

<h1 style="color: #f73c2c;">Add a Symptom</h1>

<%= simple_form_for @consultation do |f| %>
  <%# <%= f.input :symptom_id, label: "Symptom ID", required: true %> %>
  <br>
  <br>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <br>
  <br>
  <%= link_to 'Cancel', consultations_path, class: 'btn btn-outline-danger' %>
<% end %>



<% end %>
