<div class="py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-teal-600">Welcome</p>
    <p class="mt-2 text-4xl font-bold tracking-tight text-sky-900 sm:text-6xl">PRIOR.HEALTH</p>
    <p class="mt-6 text-lg leading-8 text-gray-600">GPT Enabled Healthcare</p>
  </div>

</div>
